"*":
  editor:
    invisibles: {}
    tabLength: 4
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    fontFamily: "DejaVu Sans Mono"
    fontSize: 14
  core:
    themes: [
      "spacegray-dark-ui"
      "base16-ocean-dark-spacegray"
    ]
    autoHideMenuBar: true
    audioBeep: false
  "exception-reporting":
    userId: "9ef8287f-4c4e-28a8-7d2e-68f3acdafe8b"
  welcome:
    showOnStartup: false
